<!DOCTYPE html>
<html>
    <head>
        <title>
            Recommendify
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        </title>
        <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" src="{{url_for('static', filename='recommend.js')}}"></script>
    </head>
    <body>
        <center>
            <h1>
                Recommendify
            </h1>
        </center>
        <div class="search">
            <input type="text" name="" class="search-txt" placeholder="Search..."/>
            <a class="search-btn">
             <i class="fa fa-search-plus" style="font-size:24px"></i>
            </a>
           </div>
    </body>
    </html>