<!DOCTYPE html>
<html>
  <body>

  <link rel="stylesheet" href="style.css">
<center>
    <h2 id="name" class="text-uppercase">{{result.title}}</h2>
  </center>
  <br/>
  <div id="mycontent">
    <div id="mcontent">
      <div class="poster-lg">
        <img class="poster" style="border-radius: 40px;margin-left: 90px;" height="400" width="250" src = {{ img_path }}>
      </div>
      <div class="poster-sm text-center">
        <img class="poster" style="border-radius: 40px;margin-bottom: 5%;" height="400" width="250" src = {{ img_path }}>
      </div>

      <div style="margin-left: 50px">
        <br/>
        <h6 id="title" style="color:white;">TITLE: &nbsp;{{result.title}}</h6>
        <h6 id="overview" style="color:white;max-width: 85%">OVERVIEW: <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result.overview}}</h6>
        <!-- <h6 id="popularity" style="color:white;">POPULARITY: &nbsp;{{result.popularity}}</h6> -->
        
        <h6 id="genres" style="color:white;">GENRE: &nbsp;{{genres}}</h6>
        
      
        
      </div>
    </div>
  </div>
  <br/>
  <center>

    {% if casts|length > 1 %}
    <div class="movie" style="color: #E8E8E8;">
          <center>
          <h3>TOP CAST</h3>
          <h5>(Click on the cast to know more)</h5>
      </center>
    </div>
    <div class="movie-content">
        {% for name, details in casts.items() if not casts.hidden %}
        <div class="imghvr">
            <img class="card-img-top cast-img" id="{{details[0]}}" height="360" width="240" alt="{{name}} - profile" src="{{details[2]}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{name|title}}</h5>
          <h5 class="card-title"><span style="color:#756969;font-size: 20px;">Character: {{details[1]|title}}</span></h5>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if reviews %}
    
    <h2 style="color:white">USER REVIEWS</h2>
     <div class="col-md-12" style="margin: 0 auto; margin-top:25px;">
            <table class="table table-bordered" bordercolor="white" style="color:white">
                <thead>
                    <tr>
                        <th class="text-center" scope="col" style="width: 75%">Comments</th>
                        <th class="text-center" scope="col">Sentiments</th>
                    </tr>
                </thead>
        
                <tbody>
          {% for review, status in reviews.items() if not reviews.hidden %}
          <tr style="background-color:#e5091485;">
                  <td>{{review}}</td>
                  <td><center>
                      {{status}} : 
                      {% if status =='Good' %}
                        &#128515;
                      {% else %}
                        &#128534;
                      {% endif %}
                    </center>
                  </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div style="color:white;">
      <h1 style="color:white"> This movie is not released yet. Stay tuned! </h1>
    </div>
    {% endif %}
  </center>
<br/>

  <div class="movie" style="color: #E8E8E8;">
    <center><h3>RECOMMENDED MOVIES FOR YOU</h3></center>
  </div>

  <div class="movie-content">
    {% for poster, title in cards.items() if not cards.hidden %}
    <div class="card" style="width: 14rem;" onclick="content(this)" title="{{title}}">
      <img class="card-img-top" height="360" width="240" alt="Card image cap" src={{poster}}>
      <div class="card-body">
        <h5 class="card-title">{{title|capitalize}}</h5>
      </div>
    </div>
{% endfor %}
  </div>
  {% endif %}
    </body>
</html>
 
